<div class="cont">
    <div class="data-box">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <div class="user-name">User: <span pTooltip="Go back to user profile"  [routerLink]="['/userProfile', userInfo.id]" class="user">{{userInfo.nickName}}</span> </div>
            </ng-template>
            <ng-template pTemplate="center">
              <h3 class="m-0 header"> USER FRIENDS </h3>
            </ng-template>
            <ng-template pTemplate="right">
                <div style="width: 100px;"></div>
            </ng-template>
        </p-toolbar> 
        <ng-container *ngIf="userInfo.favouriteUsers.length > 0 ; else emptyList" >
            <p-table [value]="userInfo.favouriteUsers" [tableStyle]="{ 'min-width': '10rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>NickName</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td *ngIf="isLoggedInUserProfile; else notUserProfile" class="user-profile">
                            <span pTooltip="Go to user profile"  [routerLink]="['/userProfile', user.favUserId]" class="user-name-2">{{ user.nickName }}</span>
                            <span><button pButton type="button" icon="pi pi-user-minus" class="p-button-danger p-button-text" pTooltip="Remove user from friends" (click)="removeUserFromFavList(user.favUserId)" ></button></span>
                        </td>
                        <ng-template #notUserProfile>
                            <td>
                                <span pTooltip="Go to user profile"  [routerLink]="['/userProfile', user.favUserId]"  class="user-name-2">{{ user.nickName }}</span>
                            </td>
                        </ng-template>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
        <ng-template #emptyList>
            <div class="no-result">
                No results found
            </div>
        </ng-template>
    </div>
</div>          

