<div class="container">  
    <div class="header">
        <p>
            Don't see a board game that interests you?<br> Add board game and we will try to add it.
        </p>
    </div>
    <div class="body">
        <form class="form" [formGroup]="addGameForm">
            <div class="content">
                <div class="label">
                    <label for="name">Name: </label>
                    <input id="name" type="text" formControlName="name" pInputText placeholder="Name">
                </div>
                <div class="error-messages" *ngIf="addGameForm.controls.name.invalid && (addGameForm.controls.name.dirty || addGameForm.controls.name.touched)"> 
                    <small *ngIf="addGameForm.controls.name.errors?.['maxlength']">
                        Name must be at most 255 characters.
                    </small>
                    <small *ngIf="addGameForm.controls.name.errors?.['required']">
                        Name is required.
                    </small>
                </div>
                <div class="label">
                    <label for="publisher">Publisher: </label>
                    <input id="publisher" type="text" formControlName="publisher" pInputText placeholder="Publisher">
                </div>
                <div class="error-messages" *ngIf="addGameForm.controls.publisher.invalid && (addGameForm.controls.publisher.dirty || addGameForm.controls.publisher.touched)"> 
                    <small *ngIf="addGameForm.controls.publisher.errors?.['maxlength']">
                        Publisher must be at most 255 characters.
                    </small>
                    <small *ngIf="addGameForm.controls.publisher.errors?.['required']">
                        Publisher is required.
                    </small>
                </div>
                <div class="label">
                    <label for="description">Description: </label>
                    <textarea pInputTextarea id="description" type="text" formControlName="description" pInputText placeholder="Description" [autoResize]="true" rows="4"></textarea>
                </div>
                <div class="error-messages" *ngIf="addGameForm.controls.description.invalid && (addGameForm.controls.description.dirty || addGameForm.controls.description.touched)"> 
                    <small *ngIf="addGameForm.controls.description.errors?.['required']">
                        Description is required.
                    </small>
                </div>
                <div class="label">
                    <label for="players">Players: </label>
                    <input id="players" type="text" formControlName="players" pInputText placeholder="Players (eg. 1-4)">
                </div>
                <div class="error-messages" *ngIf="addGameForm.controls.players.invalid && (addGameForm.controls.players.dirty || addGameForm.controls.players.touched)"> 
                    <small *ngIf="addGameForm.controls.players.errors?.['maxlength']">
                        Players must be at most 10 characters.
                    </small>
                    <small *ngIf="addGameForm.controls.players.errors?.['pattern']">
                        Players must be at correct format (eg. 1-4).
                    </small>
                    <small *ngIf="addGameForm.controls.players.errors?.['required']">
                        Players is required.
                    </small>
                </div>
                <div class="label">
                    <label for="time">Time: </label>
                    <input id="time" type="text" formControlName="time" pInputText placeholder="Time (eg. 40-120 Min)">
                </div>
                <div class="error-messages" *ngIf="addGameForm.controls.time.invalid && (addGameForm.controls.time.dirty || addGameForm.controls.time.touched)"> 
                    <small *ngIf="addGameForm.controls.time.errors?.['maxlength']">
                        Time must be at most 10 characters.
                    </small>
                    <small *ngIf="addGameForm.controls.time.errors?.['pattern']">
                        Time must be at correct format (eg. 40-120 Min).
                    </small>
                    <small *ngIf="addGameForm.controls.time.errors?.['required']">
                        Time is required.
                    </small>
                </div>
                <div class="label">
                    <label for="age">Age: </label>
                    <input id="age" type="text" formControlName="age" pInputText placeholder="Age (eg. 15)">
                </div>
                <div class="error-messages" *ngIf="addGameForm.controls.age.invalid && (addGameForm.controls.age.dirty || addGameForm.controls.age.touched)"> 
                    <small *ngIf="addGameForm.controls.age.errors?.['maxlength']">
                        Age must be at most 3 characters.
                    </small>
                    <small *ngIf="addGameForm.controls.age.errors?.['pattern']">
                        Age must be at correct format (eg. 15).
                    </small>
                    <small *ngIf="addGameForm.controls.age.errors?.['required']">
                        Age is required.
                    </small>
                </div>
                <div class="label">
                    <label for="imageUrl">Image url: </label>
                    <input id="imageUrl" type="text" formControlName="imageUrl" pInputText placeholder="Image url">
                </div>
                <div class="error-messages" *ngIf="addGameForm.controls.imageUrl.invalid && (addGameForm.controls.imageUrl.dirty || addGameForm.controls.imageUrl.touched)"> 
                    <small *ngIf="addGameForm.controls.imageUrl.errors?.['required']">
                        Image url is required.
                    </small>
                </div> 
            </div>
        </form>
    </div>
    <div class="footer">
        <button pButton type="submit"  icon="pi pi-send" label="Send add board game request" [disabled]="addGameForm.invalid" (click)="addBoardGameRequest()"></button>
    </div>
</div>
