.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; 
    min-height: 80%;
    max-height: 80%;
    background-color:#ffffff;
    border: 1.5px solid #c7c7c7;
    border-radius: 10px;
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.container::before{
    position: absolute;
    content: "";
    width: 620px;
    height: 680px;
    background-color: rgb(243, 229, 222);
    transform: rotate(45deg);
    left: -400px;
    bottom: 10px;
    z-index: -1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.header{
    padding: 30px 30px 0 30px;
}

.body{
    padding: 30px;
    height: auto;
    overflow: auto;
}

.footer{
    padding: 0px 30px 30px 30px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center; 
}

p{
    text-align: center;
    font-size: large;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .label{
    width: 100%;
}
.content .label label,input,textarea{
    width: 100%;
    margin: 5px 0 5px 0;
}

.container button[type="submit"] {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #EEA47F;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    justify-content: center;
}

.container button[type="submit"]:hover {
    background-color: #f19364;
}

::ng-deep .p-button-label{
    flex: none;
}

.container .error-messages small{
    display: block;
    color: #ff5252; 
    margin: 0 0 5px 0;
} 

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .container{
        width: 60%; 
    }    
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width: 80%; 
        height: 70%;
    }  
    p{
        font-size: small;
    }  
    .header{
        padding: 20px 20px 0 20px;
    }
    .content{
        width: 80%;
        font-size: small;
        margin-bottom: 4rem;
    }
    .content .label input,textarea{
        font-size: small;
    }
    .container button[type="submit"]{
        font-size: x-small;
    }
    ::ng-deep .container .pi{
        font-size: small;
    }
        
}