.container-block{
    padding: 2rem;
    min-width: 300px;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .p-dialog{
    max-height: 80%;
}

form div{
    margin-bottom: 10px;
}

.error-messages small{
    display: block;
    color: #ff5252; 
    margin: 0 0 5px 0;
} 

input{
    margin-top: 5px;
}
@media screen and (max-width: 500px) {
    ::ng-deep .p-dialog{
        width: 90% !important;
    }
    ::ng-deep .p-dialog{
        margin-top: 50px;
    }
    
}