.cont{
    padding: 2rem;
    min-width: 300px;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;

}
.data-box{
    height: 100%;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.user-name{
    padding: 10px;
    font-size: large;
    font-weight: bolder;
    margin-right: 20px;
}
.user{
    cursor: pointer;
}

.fav-game-link span{
    font-size: large;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.nofav{
    color: #8a8a8a;
    margin-right: 10px;
    font-size: 19px;
}
.fav{
    color: #ff0000 ;
    margin-right: 10px;
    font-size: 19px;
}

i{
    margin-right: 5px;
}

.pi-star-fill{
    color: #ffd000;
}

.game-name{
    font-weight: 600;
    font-size: large;
    margin-bottom: 0.3rem;
}

::ng-deep .p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
    color: #ffd000;
}

.game-name div{
    display: inline;
}

.header{
    font-weight: bolder;
    font-size: x-large;
    color: rgb(49, 49, 49);
}

.header-add-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #cacaca; 
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.header-add-form .middle {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
  }
  
.header-add-form .left, .header-add-form .right {
    flex-shrink: 0;
}

.container{
    width: auto; 
    height: auto;
    background-color:#ffffff;
    border: 1.5px solid #c7c7c7;
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2); 
   
}

input::placeholder {
    color: #a5a5a5; 
}

.container .label{
    width: 100%;
    margin-bottom: 10px;
}

.container .label label {
    width: 100%;
    color: #000000;
}

.container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #EEA47F;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.container button[type="submit"]:hover, .comment-form-container button[type="submit"]:hover{
    background-color: #f19364;
}

.favourites-label {
    font-size: 16px;
    display: block;    
    padding: 0;
    margin: 20px 0 20px 0;
}

.favourites-label .pi-heart-fill{
    cursor: pointer; 
}

.header-add-form .right{
    cursor: pointer;
}

.game-grid-item {
    margin: 1rem;
    border: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
}

.card {
    height: 97%;
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.game-grid-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-grid-detail img{
    border-radius: 5%;
    object-fit: cover;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}

.game-grid-detail{
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.game-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.game-grid-item .game-description{
    margin-bottom: 1rem;
}

.game-grid-item .game-name{
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}
.game-user-rating{
    display: flex;
    align-items: center;
}

.game-grid-down {
    margin-bottom: 0;
}
.game-user-rating , .delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 992px) and (max-width: 1700px) {
    .game-grid-item img {
      max-width: 90%; 
    }
    .game-grid-down 
    {
       flex-direction: column;
    }
}

@media screen and (max-width: 1100px) {
    .game-grid-down 
    {
       flex-direction: column;
    }

}
@media screen and (max-width: 1000px){
    ::ng-deep .p-toolbar{
        flex-direction: column;
        height: auto;
        text-align: center;
     }
}
@media screen and (max-width: 767px) {
    .image-box{
        width: 50%;
        
    }

    .game-grid-detail .image-box img{
        width: 80%;
    }

     .header{
        margin-bottom: 10px;
        text-align: center;
     }

     .fav-game-link{
        width: 100%;
        display: flex;
        justify-content: flex-end;
     }
}

@media screen and (max-width: 630px) {
    .flex-col.md\:flex-row {
        flex-direction: column-reverse !important;
        margin-bottom: 0.3rem;
    }
    
    .myHeader span{
        width: 100%;
    }
    ::ng-deep .p-inputtext{
        width: 100%;
    }
    ::ng-deep .p-dropdown{
        width: 100%;
    }
}   

@media screen and (max-width: 600px) {
    .image-box{
        width: 70%;  
    }

    .game-grid-detail .image-box img{
        width: 80%;
    }
   
}

@media screen and (max-width: 500px) {
    .image-box{
        width: 100%;
    }

    .image-box img{
        width: 80%;
    }

   
}