.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    width: 100%;
    flex: 1;
}

.navbar{
  width: 100%;
  background-color: #00539C;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content-main{
  flex: 1;
  z-index: 500;
  background-color: #ffffff; 
}

.footer {
  background-color: #00539C;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-bottom: 0;
  z-index: 1000;
}

::ng-deep .p-dialog{
  width: 40vw;
}
@media only screen and (max-width: 1000px) {
  .content{
    margin-top: 70px;
  }
}

@media only screen and (max-width: 768px){
  ::ng-deep .p-dialog {
    width: 80vw; 
  }
}

  /* Royal Blue #00539C 034c8b , Peach #EEA47F f19364 font: 495057*/