.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    width: 100%;
  }
  
  .content {
    flex: 1;
    z-index: 500;
    background-color: #ffffff; 
    margin-top: 80px;
  }
  
  footer {
    background-color: #00539C;
    color: #ffffff;
    text-align: center;
  }

  ::ng-deep .p-button {
    border-radius: 5%;
    border: 1px solid #EEA47F;
    background-color: #EEA47F;
  }

  ::ng-deep .p-button:enabled:active {
    background: #f19364;
    border-color: #f19364;
  }
  ::ng-deep .p-button:enabled:hover {
    background: #f19364;
    border-color: #f19364;
  }
  ::ng-deep .p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(241, 147, 100, 0.5);
  }


  @media only screen and (max-width: 1000px) {
    .content{
      margin-top: 70px;
    }
  }

  /* Royal Blue #00539C 034c8b , Peach #EEA47F f19364 font: 495057*/