<p>change-password works!</p>
<div class="container">
    <div class="change-password">
        <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
            <h2>Change password</h2>
            <div class="label">
                <label >Old password: <input formControlName="oldPassword" type="password" placeholder="Old password"></label>
            
            </div>
            <!-- <div class="error-messages" *ngIf="changePassForm.controls.newPassword.invalid && (changePassForm.controls.newPassword.dirty || changePassForm.controls.newPassword.touched)"> 
                <small *ngIf="changePassForm.controls.newPassword.errors?.['required']">
                    Old password is required.
                </small>

            </div> -->
            <div class="label">
                <label >New password: <input formControlName="password" type="password" placeholder="New password"></label>
            
            </div>
            <!-- <div class="error-messages" *ngIf="changePassForm.controls.newPassword.invalid && (changePassForm.controls.newPassword.dirty || changePassForm.controls.newPassword.touched)"> 
                <small *ngIf="changePassForm.controls.newPassword.errors?.['required']">
                    New password is required.
                </small>
                <small *ngIf="changePassForm.controls.newPassword.errors?.['minlength']">
                    Passwords must be at least 8 characters long.
                </small>
            </div> -->
            <div class="label">
                <label>Confirm new password: <input formControlName="confirmPassword" type="password" placeholder="Confirm new password"></label>
            </div>
            <!-- <div class="error-messages" *ngIf="changePassForm.controls.confirmNewPassword.invalid && (changePassForm.controls.confirmNewPassword.dirty || changePassForm.controls.confirmNewPassword.touched)"> 
                <small *ngIf="changePassForm.controls.confirmNewPassword.errors?.['required']">
                    Confirm new password is required.
                </small>
            </div>
            <div class="error-messages" *ngIf="changePassForm.errors?.['passNotMatch']">
                <small>
                    Passwords are diffrent.
                </small> 
            </div>  -->
            <button pbutton type="submit">Change password</button>
        </form>
    </div>
</div>