<div class="container">
    <div class="change-password-form">
        <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
            <h2>Change password</h2>
            <div class="label">
                <label >Old password: <p-password formControlName="oldPassword" type="password" placeholder="Enter old password" [toggleMask]="true" [feedback]=false></p-password></label> 
            </div>
            <div class="error-messages" *ngIf="changePassForm.controls.oldPassword.invalid && (changePassForm.controls.oldPassword.dirty || changePassForm.controls.oldPassword.touched)"> 
                <small *ngIf="changePassForm.controls.oldPassword.errors?.['required']">
                    Old password is required.
                </small>
            </div>
            <div class="label">
                <label >New password: <p-password formControlName="password" type="password" placeholder="Enter new password" [toggleMask]="true" ></p-password></label>
            </div>
            <div class="error-messages" *ngIf="changePassForm.controls.password.invalid && (changePassForm.controls.password.dirty || changePassForm.controls.password.touched)"> 
                <small *ngIf="changePassForm.controls.password.errors?.['required']">
                    New password is required.
                </small>
                <small *ngIf="changePassForm.controls.password.errors?.['minlength']">
                    Passwords must be at least 8 characters long.
                </small>
            </div>
            <div class="label">
                <label>Confirm new password: <p-password formControlName="confirmPassword" type="password" placeholder="Confirm new password" [toggleMask]="true" [feedback]=false></p-password></label>
            </div>
            <div class="error-messages" *ngIf="changePassForm.controls.confirmPassword.invalid && (changePassForm.controls.confirmPassword.dirty || changePassForm.controls.confirmPassword.touched)"> 
                <small *ngIf="changePassForm.controls.confirmPassword.errors?.['required']">
                    Confirm new password is required.
                </small>
            </div>
            <div class="error-messages" *ngIf="changePassForm.errors?.['passNotMatch']">
                <small>
                    Passwords are diffrent.
                </small> 
            </div> 
            <div class="button">
                <button pButton type="submit" icon="pi pi-pencil" label="Change password" class="p-button-secondary p-button-text"></button>
            </div>  
        </form>
    </div>
</div>