
  @media only screen and (max-width: 1000px) {
    .nav-link{
      font-size: 1.1rem;
      padding-top: 0px;;
    }
  }
  @media only screen and (max-width: 600px) {
    .nav-link{
      font-size: 1rem;
      padding-top: 0px;;
    }
    
    .navbar-brand{
      font-size: 1em;
    }  
    .navbar-toggler{
      font-size: 1rem;
    }
}

.p-menubar {
  background-color: #00539C;
  border: 0; 
  border-radius: 0; 
  min-width: 300px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.board-game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.p-menubar .logo {
  margin-right: 10px;
}
.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
  background: #034c8b !important;
}

.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  background: #034c8b !important;
}
.p-menuitem-link {
  font-size: 17px !important;
}

@media screen and (max-width: 960px){
  .p-menubar .p-menubar-button:focus {
    box-shadow: 0 0 0 0.1rem #ffffff;
  }
  .p-menubar .p-menubar-button:hover{
    background: #034c8b;
  }

}

.board-game-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.p-menuitem-link {
  font-size: 20px;
  padding-top: 10px;
  color: #ffffff !important;
}

.p-menuitem-link:hover {
  background-color: #034c8b !important;
  cursor: pointer;
}

.p-menuitem-text {
  color: #ffffff;
  padding: 8px 8px;
}

.p-menuitem-icon {
  color: #ffffff;
}

.p-menubar .p-submenu-list{
  background-color: #00539C !important;
  color: #ffffff;
}
.p-menubar .p-menubar-root-list{
  background-color: #00539C !important;
  color: #ffffff;
}
.p-menubar .p-submenu-list{
  background-color: #00539C !important;
  color: #ffffff;
}

.p-submenu-icon{
  color: #ffffff;
}
.p-menubar .p-icon{
  color: #ffffff;
}
.p-dropdown-items .p-dropdown-item {
  background-color: #00539C !important;
  color: #ffffff;
}

.p-dropdown-items .p-dropdown-item:hover {
  background-color: #034c8b;
  cursor: pointer;
}



