<div class="cont">
  <div class="card">
    <p-menubar [model]="items" [style]="{ backgroundColor: '#00539C'}">
      <ng-template pTemplate="start">
        <div class="board-game-header" [routerLink]="['/home']">
          <img src="..\..\..\assets\images\logott.png" alt="Logo" class="logo" width="30">
          <span class="board-game-title" >Board Game App</span>
        </div>
      </ng-template>
      <ng-template pTemplate="end" >  
        <!-- <div class="end-menu">
          <span *ngIf="!isLoggedIn" [routerLink]="['/login']"><i class="pi pi-sign-in"></i>Login</span>
        <span *ngIf="!isLoggedIn" [routerLink]="['/register']"><i class="pi pi-user-plus"></i>Register</span>
        </div> -->
      </ng-template>
    </p-menubar>
  </div>
</div>
