<div class="cont">
  <div class="image">
    <img src="../../../assets/images/boradGameMap.jpg" alt="SVG Image">
  </div>  
  <div class="description">
    <div *ngIf="isLoggedIn; else notLoggedIn" class="loggedin">
      <p>
        Browse through your favourite games, save them and share your experience with other users.
      </p>
      <button pButton label="Search board games" [routerLink]="['/games']" style="text-align: center;"></button>
    </div>
    <ng-template #notLoggedIn>
      <div class="not-loggedin">
        <p>
          Join the community for board game lovers,
          share your passion with other players while saving your journey 
          and let yourself discover new experiences. 
        </p>
        <button pButton label="Join now" [routerLink]="['/register']"></button>
        <span class="link" [routerLink]="['/login']">
           Already have an account? Login here.
        </span>
      </div>
    </ng-template>

      
  </div>
 
</div>

