.data-box{
    padding: 2rem;
    min-width: 300px;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    font-weight: bolder;
    font-size: x-large;
    color: rgb(49, 49, 49);
}
.link{
    font-size: large;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    ::ng-deep .p-toolbar{
        flex-direction: column;
        height: auto;
        text-align: center;
     }
}

@media screen and (max-width: 500px) {
   
    .user-info{
        flex-direction: column;
    }
   
}



