.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; 
    height: auto;
    background-color:#ffffff;
    border: 1.5px solid #c7c7c7;
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2); 
   
}

.container h2{
    text-align: center;
    color: #000000;
    border-bottom: 2px solid #cacaca; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}
input::placeholder {
    color: #a5a5a5; 
}
.container .label{
    width: 100%;
    margin-bottom: 10px;
}

.container .label label {
    width: 100%;
    color: #000000;
}

.container input {
    width: 100%;
    padding: 5px; 
    background-color: #ffffff ;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
    color: #000000;

}

.container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button[type="submit"]:hover {
    background-color: #4f90f8;
}

.container .link {
    display: block;
    text-align: center;
    color: #000000;
    text-decoration: underline; 
    cursor: pointer; 
    margin-top: 20px;
}

.container .link:hover {
    color: #6e6e6e; 
}

.container .error-messages small{
    display: block;
    color: #ff5252; 
    margin: 0 0 5px 0;
} 

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .container{
        width: 60%; 
    }    
}

@media only screen and (max-width: 600px) {
    .container{
        width: 80%; 
    }    
}
