<div class = "form">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div >
            <label>Email: <input formControlName="email" type="text" pInputText placeholder="Email"></label>
        </div>
        <div class="error-messages error" *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"> 
            <small *ngIf="loginForm.controls.email.errors?.['email']">
                Enter a valid email address.
            </small>
            <small *ngIf="loginForm.controls.email.errors?.['required']">
                Email is required.
            </small>
        </div>
        <div>
            <label>Password: <input formControlName="password" type="password" pInputText placeholder="Password"></label>
        </div>
        <div class="error-messages error" *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"> 
            <small *ngIf="loginForm.controls.password.errors?.['required']">
                Password is required.
            </small>
        </div>
        <button type="submit">Log in</button>
    </form> 
    <button pbutton [routerLink]="['/register']">
        Don't have an account? Register here. 
    </button>
</div>
