<div class="data-box">
    <div class="user-info">
        <div class="user-name">User: <span [routerLink]="['/userProfile', userId]" class="user">{{userInfo.nickName}}</span> </div>
        <div class="header"> User board game collection</div>
        <div class="button-return"><button pButton  class="p-button-secondary p-button-text">Favourite games</button></div>
    </div>
    <p-dataView #dv [value]="userBoardGameList" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 15, 100]" layout="grid" filterBy="name">
        <ng-template pTemplate="header">
            <div class="flex flex-col md:flex-row justify-content-between">
                <div class="mb-2 md:mb-0">
                <span class="p-input-icon-left mb-2 md:mb-0 search">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search" (input)="dv.filter($any($event).target.value)">
                </span>
                </div>
            </div>
        </ng-template>
        <ng-template let-game pTemplate="gridItem">
            <div class="col-12 md:col-6 lg:col-4 xl:col-3">
                <div class="game-grid-item card">
                    <div class="game-grid-detail">
                        <div class="game-grid-head">
                            <div class="image-box">
                                <img [src]=" game.imageUrl" [alt]="game.name" [routerLink]="['/games', game.boardGameId]"/>
                                <div class="hex"><div class="rating-text">Overall rate: {{game.rating === 0 ? '-': game.rating}}</div></div>
                            </div>
                        </div>
                        <div class="game-grid-desc">
                            <div class="game-name" [routerLink]="['/games', game.id]">{{game.name}}</div>
                            <div class="game-user-rating">User rating: {{game.userRating}}</div>
                        </div>
                    </div>  
                    <div class="game-grid-action">
                     </div>     
                </div>
            </div>     
        </ng-template>
    </p-dataView>
</div>