<div class = "container">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <h2>Sign up</h2>
        <div class="label">
            <label>NickName: <input formControlName="nickName" type="text" pInputText placeholder="NickName"></label>
        </div>
        <div class="error-messages" *ngIf="registerForm.controls.nickName.invalid && (registerForm.controls.nickName.dirty || registerForm.controls.nickName.touched)">
            <small *ngIf="registerForm.controls.nickName.errors?.['required']">
                NickName is required.
            </small>
        </div>
        <div class="label">
            <label>Email: <input formControlName="email" type="text" pInputText placeholder="Email"></label>
        </div>
        <div class="error-messages" *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)"> 
            <small *ngIf="registerForm.controls.email.errors?.['email']">
                Enter valid email.
            </small>
            <small *ngIf="registerForm.controls.email.errors?.['required']">
                Email is required.
            </small>
        </div>
        <div class="label">
            <label >Password: <p-password formControlName="password" placeholder="Password" [toggleMask]="true"></p-password></label>
        
        </div>
        <div class="error-messages" *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)"> 
            <small *ngIf="registerForm.controls.password.errors?.['required']">
                Password is required.
            </small>
            <small *ngIf="registerForm.controls.password.errors?.['minlength']">
                Passwords must be at least 8 characters long.
            </small>
        </div>
        <div class="label">
            <label>Confirm Password: <p-password formControlName="confirmPassword" type="password" placeholder="Confirm Password" [toggleMask]="true" [feedback]=false></p-password></label>
        </div>
        <div class="error-messages" *ngIf="registerForm.controls.confirmPassword.invalid && (registerForm.controls.confirmPassword.dirty || registerForm.controls.confirmPassword.touched)"> 
            <small *ngIf="registerForm.controls.confirmPassword.errors?.['required']">
                Confirm Password is required.
            </small>
        </div>
        <div class="error-messages" *ngIf="registerForm.errors?.['passNotMatch']">
            <small>
                Passwords are diffrent.
            </small> 
        </div> 
        <div class="error-messages" *ngIf="registerForm.errors?.['generalError']">
            <small >This email address or nickname is already taken!</small>
        </div> 
        <button pbutton type="submit">Create an account</button>
        <span class="link" [routerLink]="['/login']">
            Already have an account? Login here.
        </span>
    </form> 
</div>

