<div class="cont">
    <div class="data-box">
        <div class="header top">
            <p> USER PROFILE </p>
            <ng-container *ngIf="!isLoggedInUserProfile">
                <ng-container *ngIf="!isUserInFavList; else notInUserList">
                    <div class="user-button">
                        <button pButton type="button" icon="pi pi-user-plus" pTooltip="Add user to friends" class="p-button-secondary p-button-text" (click)="addUserToFavList()"></button> 
                    </div>   
                </ng-container>
                <ng-template #notInUserList>
                    <div class="user-button"> 
                        <button pButton type="button" icon="pi pi-user-minus" class="p-button-danger p-button-text" pTooltip="Remove user from friends" (click)="removeUserFromFavList(this.userId)" ></button>
                    </div>  
                </ng-template>  
            </ng-container>
        </div>
        <div class="user">
            <div class="avatar">
                <p-avatar size='large' icon="pi pi-user" styleClass="mr-2" shape="circle"></p-avatar>
            </div>
            <div class="user-right-details">
                <p class="user-info-head">Details:</p>
                <p class="user-nickname"><span class="bold">Nickname:</span> {{userInfo.nickName}}</p>
            </div>
        </div>

        <div class="header-down">
            <div class="header-left">
                <h3> User's board game collection </h3>
                <span>{{userInfo.userBoardGames.length}} games</span>
            </div> 
            <div class="button">
                <button pButton class="p-button-secondary p-button-text" [routerLink]="['/userGameList', userId]">See more</button>
            </div>
        </div>
        <div class="user-data-box" *ngIf="userInfo.userBoardGames.length > 0 ; else emptyList">
            <div class="grid detail-box">
                <ng-container>
                    <div *ngFor="let game of userGameListFirst5" class="col-6 md:col-4 lg:col-3 xl:col-2">
                        <div class="data" >
                            <div class="image-box">
                                <img [src]="game.imageUrl" [alt]="game.name" [routerLink]="['/games', game.boardGameId]"/>
                            </div>
                            <div class="game-name"> 
                                {{game.name}}
                            </div>
                        </div>
                    </div>
                    
                </ng-container>     
            </div>
        </div>
        <ng-template #emptyList>
            <div class="no-result">
                No results found
            </div>
        </ng-template>

        <div class="header-down">
            <div class="header-left">
                <h3> Favourite board games </h3>
                <span>{{totalFavGames}} favourite games</span>
            </div>
            <div class="button">
                <button pButton class="p-button-secondary p-button-text" [routerLink]="['/userFavouriteGameList', userId]">See more</button>
            </div>
        </div>
        <div class="user-data-box" *ngIf="totalFavGames > 0 ; else emptyList">
            <div class="grid detail-box">
                <ng-container>
                    <ng-container *ngFor="let game of userFavGameListFirst5; let i = index">
                        <div class="col-6 md:col-4 lg:col-3 xl:col-2">
                            <div class="data" >
                                <div class="image-box">
                                    <img [src]="game.imageUrl" [alt]="game.name" [routerLink]="['/games', game.boardGameId]"/>
                                </div>
                                <div class="game-name"> 
                                    {{game.name}}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <ng-template #emptyList>
            <div class="no-result">
                No results found
            </div>
        </ng-template>

        <div class="header-down">
            <div class="header-left">
                <h3> Friends </h3>
                <span>{{userInfo.favouriteUsers.length}} friends</span>
            </div>
            <div class="button">
                <button pButton class="p-button-secondary p-button-text" [routerLink]="['/userFavouriteUserList', userId]">See more</button>
            </div>
        </div>
        <ng-container *ngIf="userInfo.favouriteUsers.length > 0 ; else emptyList" >
            <div class="user-data-box">
                <div class="grid detail-box">
                    <ng-container>
                        <ng-container *ngFor="let user of userFavUsersFirst5">
                            <div class="col-6 md:col-4 lg:col-3 xl:col-2">
                                <div class="data">
                                    <div class="image-box">
                                        <p-avatar size='large' icon="pi pi-user"></p-avatar>
                                    </div>
                                    <div *ngIf="isLoggedInUserProfile; else notUserProfile" class="fav-user-name"> 
                                        <span class="user-name" pTooltip="Go to user profile" [routerLink]="['/userProfile/', user.favUserId]">{{ user.nickName }}</span>
                                        <span><button pButton type="button" icon="pi pi-user-minus" class="p-button-danger p-button-text" pTooltip="Remove user from friends" (click)="removeUserFromFavList(user.favUserId)" ></button></span>
                                    </div>
                                    <ng-template #notUserProfile>
                                        <div class="fav-user-name">
                                            <span class="user-name" pTooltip="Go to user profile" [routerLink]="['/userProfile/', user.favUserId]">{{ user.nickName }}</span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ng-template #emptyList>
            <div class="no-result">
                No results found
            </div>      
        </ng-template>

        <ng-container *ngIf="isLoggedInUserProfile">
            <div class="header-down">
                <div class="header-left">
                    <h3> Me on other profiles </h3>
                    <span>{{usersWhoAddedUserToFriends.length}} on other profiles</span>
                </div>
                <div class="button">
                    <button pButton class="p-button-secondary p-button-text" [routerLink]="['/meOnOtherProfiles']">See more</button>
                </div>
            </div>
            <ng-container *ngIf="usersWhoAddedUserToFriends.length > 0 ; else emptyList" >
                <div class="user-data-box">
                    <div class="grid detail-box">
                        <ng-container>
                            <ng-container *ngFor="let user of usersWhoAddedUserToFriends">
                                <div class="col-6 md:col-4 lg:col-3 xl:col-2">
                                    <div class="data" style="display: flex; align-items: center; justify-content: center;">
                                        <div class="image-box" >
                                            <p-avatar size='large' icon="pi pi-user"></p-avatar>
                                        </div>
                                        <div class="fav-user-name" style="display: flex; align-items: center; justify-content: center; text-align: center;">
                                            <span class="user-name" pTooltip="Go to user profile" [routerLink]="['/userProfile/', user.userId]">{{ user.nickName }}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <ng-template #emptyList>
                <div class="no-result">
                    No results found
                </div>
            </ng-template>
        </ng-container>

    </div>
</div>
