.cont{
    min-width: 300px;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;

}
.data-box{
    padding: 2rem;
    height: 100%;
    width: 100%;
}

.header{
    padding-left: 15px;
    font-weight: 700;
    font-size: large;
    margin-bottom: 1rem;
}

.top{
    padding-bottom: 15px;
    border-bottom: 1px solid #cacaca; 
}

.user{
    width: 100%;
    display: flex;
    margin-bottom: 4rem;
}

.user-left-details {
    display: flex;
    flex-direction: column; 
}

.user-right-details{
    flex: 1;
    margin-left: 20px;
}

.user-right-details .user-email, .user-nickname {
    margin: 0;
}

.bold{
    font-weight: 500;
}

.user-info-head{
    margin: 0 0 0.3rem 0;
    font-weight: 700;
    font-size: medium;
}

.user-left-details .image{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-left-details img{
    width: 100px;
}

.header-down h3{
    margin: 1em 0 0 0.3em;
}

.user-data-box{
    width: 100%;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin: 0.5rem 0 2rem 0;
    padding: 30px 10px 10px 10px;
}

.detail-box{
    width: 100%;
}

.game{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-box{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.image-box img{
    width: 80%;
    border-radius: 5%;
    object-fit: cover;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.game-name{
    margin-top: auto;
    display: flex;
    text-align: center;
    font-weight: 600;
    font-size: medium;
    margin-bottom: 0.3rem;
} 
.no-result{
    padding: 10px 0 10px 25px;
}

.button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ellipsis {
    cursor: pointer;
    margin-top: auto;
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 1.5em; 
    font-weight: bold;
}

.ellipsis:hover {
color: #000; 
}

@media screen and (max-width: 500px) {
    .user-right-details{
        margin-left: 10px;
    }
    
    .user-right-details p {
        font-size: small;
    }
    
    .user-left-details {
        width: 100px;
    }
    .user-left-details .image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-left-details img{
        width: 80px;
    }
    .user-left-details button{
        font-size: small;
        padding: 0;
    }
    
}

