<div class="game-detail-box">
    <div class="game-general">
        <div class="image-box">
            <img [src]="gameDetails.imageUrl" [alt]="gameDetails.name"/>
        </div>
        <div class="general-info">
            <div class = "game-main">
                <div class = "game-name">{{gameDetails.name}}</div>
                <div class="game-rating"><i class="pi pi-star-fill"></i> Rating: <span class="rating-value">{{gameDetails.rating === 0 ? '-' : gameDetails.rating}}</span></div>
            </div>
            <div class="game-details">
                <div class="game-players"><span class="header">Players: </span><span class="desc">{{gameDetails.players}}</span> </div>
                <div class="game-time"><span class="header">Time: </span><span class="desc">{{gameDetails.time}}</span></div>
                <div class="game-age"><span class="header">Age: </span><span class="desc">{{gameDetails.age}}+</span></div>
                <div class="game-publisher"><span class="header">Publisher: </span><span class="desc">{{gameDetails.publisher}}</span></div>
            </div>   
            <div class="add-button">
                <div class="game-list-button" *ngIf="(isLoggedIn$ | async) as isLoggedIn; else notLoggedIn">
                    <p-button *ngIf="!gameDetails.isInUserList" severity="success"  label="Add to list" icon="pi pi-plus" iconPos="right"  [routerLink]="['/games/', gameDetails.id, 'add-to-list']"></p-button>
                    <p-button *ngIf="gameDetails.isInUserList"  severity="danger" label="Remove" icon="pi pi-minus" iconPos="right" (onClick)="deleteGameFromList(gameDetails.id)"></p-button>
                </div>
                <ng-template #notLoggedIn>
                    <p-button severity="success" label="Add to list" icon="pi pi-plus" iconPos="right" [routerLink]="['/login']"></p-button>
                </ng-template>
                <div class="rate"> 
                    <p-rating [(ngModel)]="rateValue" [stars]="10" [cancel]="false" ></p-rating>
                    <button pButton (click)="submitRating()" class="p-button-secondary p-button-text">Rate Game</button>
                </div>
            </div>
        </div>
    </div>
    <div class = "game-others">
        <h3>Description</h3>
        <div class="game-description">
            {{gameDetails.description}}
        </div>
        <div class = "game-reviews">
            <div class="review-header">
                <h3>Reviews</h3>
                <p-overlayPanel #op>
                    <div class="form-container"> 
                        <form (ngSubmit)="addGameReview()">
                            <h2>Add game review</h2>
                            <div class="form">
                                <div class="label">
                                    <label for="review">Review: </label>
                                    <textarea id="review" [formControl]="reviewControl" rows="4"></textarea>
                                </div>
                                <div class="error-messages" *ngIf="reviewControl.invalid && (reviewControl.dirty || reviewControl.touched)">
                                    <small *ngIf="reviewControl.hasError('maxlength')">
                                        Review must be at most 1000 characters.
                                    </small>
                                </div>            
                                <button pButton type="submit" [disabled]="reviewControl.invalid">Add game review</button>
                            </div>
                        </form>
                    </div>
                </p-overlayPanel>
                <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-secondary p-button-text" (click)="op.toggle($event)"></button>
            </div>  
            <p-dataView #dv [value]="reviews"[paginator]="true" [rows]="2">
                <ng-template let-review pTemplate="listItem">
                    <div class="col-12">
                        <div lass="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                            <div class="top-review">
                                <div class="review-user">{{ review.nickName }}</div>
                                <div class= "review-date">{{review.createdDate | date: 'dd-MM-yyyy HH:mm':'pl'}}</div>
                            </div>  
                            <div class="review-desc">{{ review.reviewDescription }}</div>
                        </div> 
                    </div>
                </ng-template>
            </p-dataView>   
        </div>   
    </div>
</div>