.game-detail-box{
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.game-general{
    width: 100%;
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid rgba(202, 202, 202, 0.5);
    padding-bottom: 20px;
}

.image-box{
    width: 250px;
}
.image-box img{
    width: 250px;
    border-radius: 5%;
    object-fit: cover;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
}

.game-name{
    font-weight: 1000;
    font-size: x-large;
    color: #00539C;
    margin-bottom: 0.3rem;
}
.game-rating{
    font-weight: 500;
    color: #3c3c3d;
}
.general-info{
    flex: 1;
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.game-button{
    margin-top: 1rem;
    margin-bottom: 5px;
}

.rate{
    margin-left: 4px;
    display: flex;
}
.game-name div{
    display: inline;
}

::ng-deep .rate .p-rating{
    margin-top: 12px;
    margin-right: 10px;
}

.nofav{
    color: #8a8a8a;
    margin-left: 10px;
    font-size: 19px;
}
.fav{
    color: #ff0000 ;
    margin-left: 10px;
    font-size: 19px;
}

.game-button p-button{
    line-height: 5px;
    margin-top: 1rem;
}

i{
    margin-right: 5px;
}

.pi-star-fill{
    color: #ffd000;
}

::ng-deep .p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
    color: #ffd000;
}

.game-details{
    display: flex;
    margin-top: 0.5rem; 
    
}
.game-details div{
    margin-right: 1rem;
}

.game-details > div:last-child {
    margin-right: 0;
}

.game-others{
    margin-top: 1rem;
    width: 100%;
    padding: 1rem; 
}
.game-others h6{
    font-weight: bold;
    color: #3c3c3d
}
.game-description{
   color: #495057;
 }

.no-content{
    padding: 0 1rem 0 1rem;
}
.game-reviews{
    margin-top: 2rem;
}

.review-form-container{
    margin: 20px 0 20px 0;
    display: block;
    width: 100%;
}
.add-review-desc textarea{
    width: 100%;
    margin-bottom: 10px;
}

.add-review-button{
    width: 100%;
}

.review-form-container button[type="submit"] {
    padding: 10px;
    background-color: #EEA47F;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

::ng-deep .review-form-container .p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(241, 147, 100, 0.5);
  } 

.top-review{
    display: flex;
    justify-content: space-between;  
}
.review-user{
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    font-weight: bolder;
    order: 1;
    font-size: large;
}
.review-date{
    margin-top: 0.5rem;
    order: 2;
}

.review-header{
    border-bottom: 2px solid #cacaca; 
    margin-bottom: 20px;
    display: flex;
}
.review-header h3{
    flex: 1;
}

.review-others{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-desc-container{
    flex: 1;
    margin-right: 10px;
}

.header{
    font-weight: bold;
    color: #3c3c3d;
}

.header-add-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #cacaca; 
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.header-add-form .middle {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
  }
  
.header-add-form .left, .header-add-form .right {
    flex-shrink: 0;
}

.favourites-label {
    font-size: 16px;
    display: block;    
    padding: 0;
    margin: 20px 0 20px 0;
}

.favourites-label .pi-heart-fill{
    cursor: pointer; 
}
.container{
    width: auto; 
    height: auto;
    background-color:#ffffff;
    border: 1.5px solid #c7c7c7;
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2); 
   
}

input::placeholder {
    color: #a5a5a5; 
}

.container .label{
    width: 100%;
    margin-bottom: 10px;
}

.container .label label {
    width: 100%;
    color: #000000;
}

.container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #EEA47F;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.container button[type="submit"]:hover, .review-form-container button[type="submit"]:hover{
    background-color: #f19364;
}


@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .container{
        width: 60%; 
    }    
}

@media only screen and (max-width: 600px) {
    .container{
        width: 80%; 
    }    
}



@media (max-width: 833px) {
    .game-details{
        flex-direction: column;
        margin-top: 0.5rem; 
        
    }

}
@media (max-width: 670px) {
    .rate{
        flex-direction: column;
    }
    ::ng-deep .rate .p-rating{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .rate button{
       margin-top: 10px;
       justify-content: center;
    }
    .game-general{
        flex-direction: column;
        align-items: center;
    }
    .general-info{
        padding-left:  0px;
    }
    .game-details{
        text-align: center;
    }
    .game-details > div > span {
        display: inline-flex; 
    }
    .header{
        margin-right: 10px;
    }
    /* .game-details div{
        margin-right: 0;
    }

    .game-details div{
        margin-right: 1rem;
    }
    
    .game-details > div:last-child {
        margin-right: 0;
    }
    .game-details .header  {
        justify-content: space-between;
    } */
    .game-name{
        margin-top: 1rem;
        text-align: center;
    }
    .game-rating{
        text-align: center;
    }

    .game-button p-button{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .game-details .header{
        display: block;
    }

}
