<div class="game-detail-box">
    <div class="game-general">
        <div class="image-box">
            <img [src]="gameDetails.imageUrl" [alt]="gameDetails.name"/>
        </div>
        <div class="general-info">
            <div class = "game-main">
                <div class = "game-name">{{gameDetails.name}}</div>
                <div class="game-rating"><i class="pi pi-star-fill"></i> Rating: <span class="rating-value">{{gameDetails.rating === 0 ? '-' : gameDetails.rating}}</span></div>
            </div>
            <div class="game-details">
                <div class="game-players"><span class="header">Players: </span><span class="desc">{{gameDetails.players}}</span> </div>
                <div class="game-time"><span class="header">Time: </span><span class="desc">{{gameDetails.time}}</span></div>
                <div class="game-age"><span class="header">Age: </span><span class="desc">{{gameDetails.age}}+</span></div>
                <div class="game-publisher"><span class="header">Publisher: </span><span class="desc">{{gameDetails.publisher}}</span></div>
            </div>   
            <div class="add-button">
                <p-button label="Add to list" icon="pi pi-plus" iconPos="right"></p-button>
            </div>
        </div>
    </div>
    <div class = "game-others">
        <h3>Description</h3>
        <div class="game-description">
            {{gameDetails.description}}
        </div>
        <div class = "game-reviews">
            <h3>Reviews</h3>
            <p-dataView #dv [value]="reviews"[paginator]="true" [rows]="2">
                <ng-template let-review pTemplate="listItem">
                    <div class="col-12">
                        <div lass="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                            <div class="top-review">
                                <div class="review-user">{{ review.nickName }}</div>
                                <div class= "review-date">{{review.createdDate | date: "dd-MM-YYYY hh:mm"}}</div>
                            </div>  
                            <div class="review-rating"><i class="pi pi-star-fill"></i>Rating: {{ review.rating }}</div>
                            <div class="review-desc">{{ review.reviewDescription }}</div>
                        </div> 
                    </div>
                </ng-template>
            </p-dataView>   
        </div>   
    </div>
</div>