.game-detail-box{
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

.game-general{
    width: 100%;
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid rgba(202, 202, 202, 0.5);
    padding-bottom: 20px;
}
.image-box{
    width: 250px;
}
.image-box img{
    width: 250px;
    border-radius: 5%;
    object-fit: cover;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
}

.game-name{
    font-weight: 1000;
    font-size: x-large;
    color: #00539C;
    margin-bottom: 0.3rem;
}
.game-rating{
    font-weight: 500;
    color: #3c3c3d;
}
.general-info{
    flex: 1;
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
}

i{
    margin-right: 5px;
}

.pi-star-fill{
    color: #ffd000;
}

::ng-deep .p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
    color: #ffd000;
}


.game-details{
    display: flex;
    margin-top: 0.5rem; 
    
}
.game-details div{
    margin-right: 1rem;
}

.game-details > div:last-child {
    margin-right: 0;
}

.add-button{
    margin-top: 1rem;
}
.add-button p-button{
    line-height: 5px;
    margin-top: 1rem;
}
.game-others{
    margin-top: 1rem;
    width: 100%;
    padding: 1rem; 
}
.game-others h6{
    font-weight: bold;
    color: #3c3c3d
}
.game-description{
   color: #495057;
 }

.no-content{
    padding: 0 1rem 0 1rem;
}
.game-reviews{
    margin-top: 2rem;
}

.top-review{
    display: flex;
    justify-content: space-between;  
}
.review-user{
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    font-weight: bolder;
    order: 1;
    font-size: large;
}
.review-date{
    margin-top: 0.5rem;
    order: 2;
}

.review-header{
    border-bottom: 2px solid #cacaca; 
    margin-bottom: 20px;
    display: flex;
}
.review-header h3{
    flex: 1;
}

.review-desc{
    margin-bottom: 1rem;
}

.header{
    font-weight: bold;
    color: #3c3c3d;
}

@media (min-width: 600px) and (max-width: 833px) {
    .game-details{
        flex-direction: column;
        margin-top: 0.5rem; 
        
    }

}
@media (max-width: 599px) {
    .game-general{
        flex-direction: column;
        align-items: center;
    }
    .general-info{
        padding-left:  0px;
    }
    .game-details{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .game-details div{
        margin-right: 0;
    }

    .game-details div{
        margin-right: 1rem;
    }
    
    .game-details > div:last-child {
        margin-right: 0;
    }
    .game-details .header  {
        justify-content: space-between;
    }
    .game-name{
        margin-top: 1rem;
        text-align: center;
    }
    .game-rating{
        text-align: center;
    }

    .add-button p-button{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .game-details .header{
        display: block;
    }

}
