<div class="game-detail-box">
    <div class="game-general">
        <!-- <div class="image-box">
            <img [src]="gameDetails.imageUrl" [alt]="gameDetails.name"/>
        </div> -->
        <div class="game-grid-head">
            <div class="image-box">
                <img [src]="gameDetails.imageUrl" [alt]="gameDetails.name"/>
            </div>
            <div class="hex"><div class="rating-text">Overall rate: {{gameDetails.rating === 0 ? '-' : gameDetails.rating}}</div></div>
        </div>
        <div class="general-info">
            <div>
                <div class = "game-main">
                    <div class = "game-name"><div>{{gameDetails.name}}</div>
                    <div *ngIf="!isFavourite" class="pi pi-heart-fill nofav"></div>
                    <div *ngIf="isFavourite" class="pi pi-heart-fill fav"></div> 
                </div>
                    <!-- <div class="game-rating"><i class="pi pi-star-fill"></i> Rating: <span class="rating-value">{{gameDetails.rating === 0 ? '-' : gameDetails.rating}}</span></div> -->
                </div>
                <div class="game-details">
                    <div class="game-players"><span class="header">Players: </span><span class="desc">{{gameDetails.players}}</span> </div>
                    <div class="game-time"><span class="header">Time: </span><span class="desc">{{gameDetails.time}}</span></div>
                    <div class="game-age"><span class="header">Age: </span><span class="desc">{{gameDetails.age}}+</span></div>
                    <div class="game-publisher"><span class="header">Publisher: </span><span class="desc">{{gameDetails.publisher}}</span></div>
                </div>   
            </div>
            <div class="game-button">
                <div class="game-list-button" *ngIf="(isLoggedIn$ | async) as isLoggedIn; else notLoggedIn">
                    <div *ngIf="!gameDetails.isInUserList; else inList" class="game-add-to-list">
                        <p-button  severity="success"  label="Add to list" icon="pi pi-plus" iconPos="right" (onClick)="openAddForm(gameDetails.id, gameDetails.name)"></p-button>  
                        <app-game-add-form (addedGameEvent)="onAddGameEvent($event)" *ngIf="addGameFormService.getIsOpen() &&  addGameFormService.getSelectedGameId() === gameDetails.id; else noForm" [gameId]="addGameFormService.getSelectedGameId()" [gameName]="addGameFormService.getSelectedGameName()" class="overlay"></app-game-add-form>
                        <ng-template #noForm> </ng-template>
                    </div> 
                    <ng-template #inList>
                        <div *ngIf="gameDetails.isInUserList" class="game-added-to-list">
                            <div class="rate"> 
                                <p-rating [(ngModel)]="rateValue" [stars]="10" [cancel]="false" [disabled]="true"></p-rating>
                                <button pButton (click)="showEditUserGameForm()" class="p-button-secondary p-button-text">Edit</button>
                                <div *ngIf="openUserGameForm" class="overlay">
                                <div class="container"> 
                                    <form [formGroup]="gameEditForm" (ngSubmit)="editUserGameDetails()">
                                        <div class="header-add-form">
                                          <div class="left"></div>
                                          <div class="middle">Edit "{{gameDetails.name}}" on your list</div> 
                                          <div class="pi pi-times right" (click)="closeEditForm()"></div>
                                        </div>
                                        <div class="form">
                                            <div class="label">
                                                <label for="rating">Rating: <p-rating formControlName="rating" [stars]="10" ></p-rating></label>
                                            </div>
                                            <div class="label">
                                              <label  for="rating" class="favourites-label">
                                                Add to Favorites
                                                <i  *ngIf="isFavActive" (click)="onFavClick()" class="pi pi-heart-fill fav" ></i>
                                                <i *ngIf="!isFavActive" (click)="onFavClick()" class="pi pi-heart-fill nofav" ></i>
                                              </label>
                                            </div>               
                                            <button type="submit" [disabled]="gameEditForm.invalid">Edit game stats on list</button>
                                        </div>
                                    </form> 
                                   
                                  </div>
                                </div>
                            </div>
                            <p-button severity="danger" label="Remove" icon="pi pi-minus" iconPos="right" (onClick)="deleteGameFromList(gameDetails.id)"></p-button>   
                        </div> 
                    </ng-template>  
                </div>
                <ng-template #notLoggedIn>
                    <p-button severity="success" label="Add to list" icon="pi pi-plus" iconPos="right" [routerLink]="['/login']"></p-button>
                </ng-template>
                
            </div>
        </div>
    </div>
    <div class = "game-others">
        <h3>Description</h3>
        <div class="game-description">
            {{gameDetails.description}}
        </div>
        <div class = "game-comments">
            <div class="comment-header">
                <h3>Comments</h3>
                <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-secondary p-button-text" (click)="showCommentForm()" [disabled]="userComment !== undefined"></button>  
            </div>
            <div *ngIf="showAddCommentForm" class="comment-form-container"> 
                <form (ngSubmit)="addGameComment()">
                    <h4>Add game comment</h4>
                    <div class="form">
                        <div class="add-comment-desc">
                            <textarea id="comment" pInputTextarea [autoResize]="true" placeholder="Comment description..." [formControl]="commentControl" rows="4"></textarea>
                        </div>
                        <div class="error-messages" *ngIf="commentControl.invalid && (commentControl.dirty || commentControl.touched)">
                            <small *ngIf="commentControl.hasError('maxlength')">
                                Comment must be at most 1000 characters.
                            </small>
                        </div>
                        <div class="add-comment-button">
                            <button pButton type="submit" [disabled]="commentControl.invalid">Add game comment</button>
                        </div>            
                    </div>
                </form>
            </div>  
            <p-dataView #dv [value]="comments"[paginator]="true" [rows]="2">
                <ng-template let-comment pTemplate="listItem">
                    <div class="col-12">
                        <div lass="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                            <div class="top-comment">
                                <div class="comment-user">{{ comment.nickName }}</div>
                                <div class= "comment-date">{{comment.createdDate | date: 'dd-MM-yyyy HH:mm':'pl'}}</div>
                            </div>  
                            <div class="comment-others">
                                <div class="comment-desc-container">
                                    <div *ngIf="!comment.isEditMode" class="comment-desc">{{ comment.commentDescription }}</div>
                                    <textarea pInputTextarea [autoResize]="true" *ngIf="comment.isEditMode" [(ngModel)]="comment.commentDescription" class="comment-desc" rows="4"></textarea>
                                </div>
                                <div *ngIf="comment.userId.toString() === this.userId.toString()" class="user-Comment-buttons">
                                    <button *ngIf="!comment.isEditMode" pButton icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text" (click)="enableEditCommentMode(comment)"></button>
                                    <button *ngIf="!comment.isEditMode" pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="deleteUserComment(comment.id)"></button>
                                    <button *ngIf="comment.isEditMode" pButton icon="pi pi-check" class="p-button-rounded p-button-success p-button-text" (click)="editUserComment(comment)"></button>
                                    <button *ngIf="comment.isEditMode" pButton icon="pi pi-times" class="p-button-rounded p-button-secondary p-button-text" (click)="cancelEditCommentMode(comment)"></button>
                                </div>   
                            </div>
                        </div> 
                    </div>
                </ng-template>
            </p-dataView>   
        </div>   
    </div>
</div>