<div class="container"> 
  <form [formGroup]="gameAddForm" (ngSubmit)="addGameToList()">
      <h2>Add game to list</h2>
      <div class="form">
          <div class="label">
              <label for="rating">Rating: <p-rating formControlName="rating" [stars]="10" ></p-rating></label>
          </div>
          <div class="error-messages" *ngIf="gameAddForm.controls.rating.invalid && (gameAddForm.controls.rating.dirty || gameAddForm.controls.rating.touched)">
              <small *ngIf="gameAddForm.controls.rating.errors?.['required']">
                  Rating is required.
              </small>
              <small *ngIf="gameAddForm.controls.rating.errors?.['min']">
                  Rating must be at least 0.
              </small>
              <small *ngIf="gameAddForm.controls.rating.errors?.['max']">
                  Rating must be at most 10.
              </small>
          </div>

          <div class="label">
            <label (click)="onClick()" class="favourites-label">
              Add to Favorites
              <i class="pi pi-heart-fill"  [class.highlighted]="isActive" ></i>
            </label>
          </div>               
          <button type="submit" [disabled]="gameAddForm.invalid">Add game to list</button>
      </div>
  </form> 
</div>