<div class="container-block">
        <div class="card flex justify-content-left">
            <p-dropdown [options]="activeSectionOptions" [(ngModel)]="selectedValue" optionLabel="label" optionValue="value"></p-dropdown> 
        </div>
        <div class="content">
          <div *ngIf="selectedValue === 'edit-data'">
            <app-edit-data></app-edit-data>
          </div>
        
          <div *ngIf="selectedValue === 'change-password'">
            <app-change-password></app-change-password>
          </div>
        
          <div *ngIf="selectedValue === 'delete-account'">
            <app-delete-account></app-delete-account>
          </div>
        </div>
</div>
